<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="searchFragment">
		<form th:action="@{/member/memberList}" method="get">
			<select name="searchKey">
				<option value="memberId">회원아이디</option>
				<option value="memberName">회원이름</option>
				<option value="memberEmail">회원이메일</option>
			</select>
			<input type="text" name="searchValue" placeholder="검색어를 입력하세요"/>
			<button type="submit">검색</button>
		</form>
	</div>
	<div th:fragment="searchFragment2">
		<form th:action="@{/goods/goodsList}" method="get">
			<select name="searchKey2">
				<option value="goodsCode">상품코드</option>
				<option value="goodsName">상품이름</option>
				<option value="goodsSellerId">판매자아이디</option>
				<option value="memberName">판매자이름</option>
				<option value="memberEmail">판매자이메일</option>
			</select>
			<input type="text" name="searchValue2" placeholder="검색어를 입력하세요"/>
			<button type="submit">검색</button>
		</form>
	</div>
</html>
