<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	  
	  <head>
	  	<link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
	  </head>

	<th:block layout:fragment="customContents">
	<table>
		<thead>
			<tr>
				<th>판매자아이디</th>
				<th>판매자 이름</th>
				<th>판매자 이메일</th>
				<th>판매자 주소</th>
				<th>상품 코드</th>
				<th>상품 명</th>
				<th>상품 가격</th>
				<th>상품 등록 일자</th>
			</tr>
		</thead>
		<tbody>
				<th:block th:unless="${#lists.isEmpty(sellerList)}"
						  th:each="l : ${sellerList}">
					<th:block th:unless="${#lists.isEmpty(l.goodsList)}"
							  th:each="gl, status : ${l.goodsList}">
						<tr>
						<th:block th:if="${status.index == 0}">
							<td th:rowspan="${status.size}" th:text="${l.memberId}"></td>	  
							<td th:rowspan="${status.size}" th:text="${l.memberName}"></td>	  
							<td th:rowspan="${status.size}" th:text="${l.memberEmail}"></td>	  
							<td th:rowspan="${status.size}" th:text="${l.memberAddr}"></td>
						</th:block>	  
							<td th:text="${gl.goodsCode}"></td>	  
							<td th:text="${gl.goodsName}"></td>	  
							<td th:text="${gl.goodsPrice}"></td>	  
							<td th:text="${gl.goodsRegDate}"></td>
						</tr>	  
					</th:block>
					<th:block th:if="${#lists.isEmpty(l.goodsList)}">
						<tr>
							<td th:text="${l.memberId}"></td>	  
							<td th:text="${l.memberName}"></td>	  
							<td th:text="${l.memberEmail}"></td>	  
							<td th:text="${l.memberAddr}"></td>
							<td colspan="4">등록된 상품이 없습니다.</td>
						</tr>
					</th:block>
				</th:block>
			<tr th:if="${#lists.isEmpty(sellerList)}"> 
				<td colspan="8">등록된 상품이 없습니다.</td>
			</tr>
		</tbody>
	</table>
</html>
