<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	  
	  <head>
	  	<link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
	  </head>

	<th:block layout:fragment="customContents">
		<th:block th:insert="~{search/Search :: searchFragment}"></th:block>
	<table>
		<thead>
			<tr>
				<th>회원아이디</th>
				<th>회원 비밀번호</th>
				<th>회원이름</th>
				<th>회원 등급</th>
				<th>회원 이메일</th>
				<th>회원주소</th>
				<th>회원등록날짜</th>
				<th>수정</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${#lists.isEmpty(memberList)}">
				<td colspan="7">등록된 회원의 정보가 없습니다.</td>
			</tr>
			<tr th:unless="${#lists.isEmpty(memberList)}"
				th:each="l : ${memberList}">
				<td th:text="${l.memberId}"></td>
				<td th:text="${l.memberPw}"></td>
				<td th:text="${l.memberName}"></td>
				<td th:text="${l.memberLevelName}"></td>
				<td th:text="${l.memberEmail}"></td>
				<td th:text="${l.memberAddr}"></td>
				<td th:text="${l.memberRegDate}"></td>
				<td>
					<a th:href="@{/member/modifyMember(memberId=${l.memberId})}">수정</a>
				</td>
				<td>
				<a th:href="@{/member/removeMember(memberId=${l.memberId})}">삭제</a>
				</td>
			</tr>
		</tbody>
	</table>
</html>
