<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

	<head>
    	<link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
    	<style>
    		input{
    			width: 98%;
    			height: 23px;
    		}
    		td:nth-child(3n+1):not(:last-child){
    			color: white;
    			font-weight: 700;
    			background-color: cornflowerblue;
    		}
    		select{
    			width: 99%;
    			text-align: center;
    			height: 23px;
    		}
    		#modifyCheck{
    			width: 99%; 
    			height: 25px;
    		}
    		#modifyMemberBtn, #resetBtn {
    			width: 49%;
    			height: 25px;
    		}
    	</style>
    </head>
    
    <th:block layout:fragment="customJs">
    	<script th:src="@{/js/jquery-3.7.0.js}"></script>
    		
    		
    		
    </th:block>

	<th:block layout:fragment="customContents">
		<form id="modifyMemberForm" th:action="@{/member/modifyMember}" method="post">
			<table th:object="${memberInfo}">
				<tbody>			
					<tr>
						<td>
							<label for="memberId">회원아이디</label>
						</td>
						<td>
							<input type="text" id="memberId" name="memberId" th:value="*{memberId}"
								   placeholder="회원의 아이디를 입력해주세요." readonly="readonly"/>
						</td>
						<td>
							<button type="button" id="idCheck">아이디중복체크</button>
						</td>
					</tr>
					<tr>
						<td>
							<label for="memberPw">회원비밀번호</label>
						</td>
						<td colspan="2">
							<input type="text" id="memberPw" name="memberPw" th:value="*{memberPw}"
								   placeholder="회원의 비밀번호를 입력해주세요."  />
						</td>
					</tr>
					<tr>
						<td>
							<label for="memberName">회원이름</label>
						</td>
						<td colspan="2">
							<input type="text" id="memberName" name="memberName" th:value="*{memberName}"
								   placeholder="회원의 이름을 입력해주세요." />
						</td>
					</tr>
					<tr>
						<td>
							<label for="memberLevel">회원등급</label>
						</td>
						<td>
							<select id="memberLevel" name="memberLevel" th:value="*{memberLevel}">
								<th:block th:unless="${#lists.isEmpty(memberLevelList)}"
										  th:each="l : ${memberLevelList}">
									<option th:value="${l.levelNum}"  th:selected="${l.levelNum} == *{memberLevel}">[[${l.levelName}]]</option>
								</th:block>
								<th:block th:if="${#lists.isEmpty(memberLevelList)}">
								</th:block>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label for="memberEmail">회원이메일</label>
						</td>
						<td>
							<input type="text" id="memberEmail" name="memberEmail" th:value="*{memberEmail}"
								   placeholder="회원의 이메일을 입력해주세요." />
						</td>
					</tr>
					<tr>
						<td>
							<label for="memberAddr">회원주소</label>
						</td>
						<td>
							<input type="text" id="memberAddr" name="memberAddr" th:value="*{memberAddr}"
								   placeholder="회원의 주소를 입력해주세요." />
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button type="submit" id="modifyMemberBtn">수정완료</button>
							<button type="button" id="resetBtn">입력취소</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</th:block>
	
	
	
	
	
</html>